{
  "openapi": "3.1.0",
  "info": {
    "title": "Notabene API",
    "description": "API for managing entities, relationships, and transactions in the Notabene system.",
    "version": "1.0.0",
    "contact": {
      "name": "Notabene Support",
      "url": "https://notabene.id/support"
    }
  },
  "servers": [
    {
      "url": "https://api.eu1.notabene.id",
      "description": "Production server"
    }
  ],
  "paths": {
    "/entities/{entityDID}/flow/customers": {
      "get": {
        "tags": [
          "Flow"
        ],
        "summary": "List customers for an entity within Flow workflows",
        "description": "Retrieves a paginated list of customers associated with an entity within Flow\nworkflow contexts. Customer PII in profileData is encrypted and not included\nby default for security and privacy compliance.\n",
        "operationId": "listFlowCustomers",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of customers to return",
            "schema": {
              "type": "string",
              "default": "25"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of customers to skip for pagination",
            "schema": {
              "type": "string",
              "default": "0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customerDid": {
                            "type": "string",
                            "description": "Customer DID identifier"
                          },
                          "entityDid": {
                            "type": "string",
                            "description": "Entity DID that owns this customer"
                          },
                          "customerType": {
                            "type": "string",
                            "enum": [
                              "natural_person",
                              "legal_person"
                            ],
                            "description": "Type of customer"
                          },
                          "profileData": {
                            "type": "object",
                            "description": "Encrypted IVMS101 customer profile data (PII encrypted)"
                          },
                          "verificationStatus": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "verified",
                              "rejected",
                              "expired"
                            ],
                            "description": "Customer verification status"
                          },
                          "verificationLevel": {
                            "type": "string",
                            "enum": [
                              "basic",
                              "enhanced",
                              "premium"
                            ],
                            "description": "Level of verification performed"
                          },
                          "verifiedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When verification was completed"
                          },
                          "verificationExpiresAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When verification expires"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Customer creation timestamp"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Customer last update timestamp"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "description": "Maximum number of customers returned"
                        },
                        "offset": {
                          "type": "integer",
                          "description": "Number of customers skipped"
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of available customers"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "description": "Could not fetch customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Flow"
        ],
        "summary": "Create a new customer for Flow workflows",
        "description": "Creates a new customer profile within a Flow workflow context. Customer PII is\nencrypted before storage and returned without PII by default. This endpoint\nchecks for existing customers to prevent duplicates.\n\n**IVMS101 Validation Requirements:**\n- For natural persons: `name` object is **required**\n- For legal persons: `name` and `nationalIdentification` objects are **required**\n- When `nameIdentifier` array is provided, its fields are **required**\n- Unknown fields are rejected (strict validation)\n",
        "operationId": "createFlowCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customerDid",
                  "customerType",
                  "profileData"
                ],
                "properties": {
                  "customerDid": {
                    "type": "string",
                    "description": "Customer identifier (mailto:, tel:, or did:web/did:ethr/did:pkh/did:key/did:jwk/did:keri). When a DID is used, profileData.contactInformation.email is required for OTP."
                  },
                  "customerType": {
                    "type": "string",
                    "enum": [
                      "natural_person",
                      "legal_person"
                    ],
                    "description": "Type of customer (natural person or legal entity)"
                  },
                  "profileData": {
                    "type": "object",
                    "description": "IVMS101-compliant customer profile data",
                    "oneOf": [
                      {
                        "type": "object",
                        "description": "Natural person profile",
                        "required": [
                          "naturalPerson"
                        ],
                        "properties": {
                          "naturalPerson": {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "name": {
                                "type": "object",
                                "description": "Person's name (REQUIRED)",
                                "properties": {
                                  "nameIdentifier": {
                                    "type": "array",
                                    "description": "Array of name identifiers (optional, but fields required when present)",
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "primaryIdentifier",
                                        "naturalPersonNameIdentifierType"
                                      ],
                                      "properties": {
                                        "primaryIdentifier": {
                                          "type": "string",
                                          "description": "Primary name (e.g., surname) - REQUIRED when nameIdentifier present"
                                        },
                                        "secondaryIdentifier": {
                                          "type": "string",
                                          "description": "Secondary name (e.g., given name)"
                                        },
                                        "naturalPersonNameIdentifierType": {
                                          "type": "string",
                                          "description": "Type of name identifier (e.g., LEGL) - REQUIRED when nameIdentifier present"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "geographicAddress": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "nationalIdentification": {
                                "type": "object"
                              },
                              "dateAndPlaceOfBirth": {
                                "type": "object"
                              },
                              "countryOfResidence": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Legal person profile",
                        "required": [
                          "legalPerson"
                        ],
                        "properties": {
                          "legalPerson": {
                            "type": "object",
                            "required": [
                              "name",
                              "nationalIdentification"
                            ],
                            "properties": {
                              "name": {
                                "type": "object",
                                "description": "Entity's name (REQUIRED)",
                                "properties": {
                                  "nameIdentifier": {
                                    "type": "array",
                                    "description": "Array of name identifiers (optional, but fields required when present)",
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "legalPersonName",
                                        "legalPersonNameIdentifierType"
                                      ],
                                      "properties": {
                                        "legalPersonName": {
                                          "type": "string",
                                          "description": "Legal entity name - REQUIRED when nameIdentifier present"
                                        },
                                        "legalPersonNameIdentifierType": {
                                          "type": "string",
                                          "description": "Type of name identifier - REQUIRED when nameIdentifier present"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "nationalIdentification": {
                                "type": "object",
                                "description": "National identification (REQUIRED for legal persons)",
                                "required": [
                                  "nationalIdentifier",
                                  "nationalIdentifierType"
                                ],
                                "properties": {
                                  "nationalIdentifier": {
                                    "type": "string",
                                    "description": "National identifier value (e.g., registration number) - REQUIRED"
                                  },
                                  "nationalIdentifierType": {
                                    "type": "string",
                                    "description": "Type of identifier (e.g., RAID) - REQUIRED"
                                  },
                                  "countryOfIssue": {
                                    "type": "string"
                                  },
                                  "registrationAuthority": {
                                    "type": "string"
                                  }
                                }
                              },
                              "geographicAddress": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        }
                      }
                    ]
                  },
                  "verificationStatus": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "verified",
                      "rejected",
                      "expired"
                    ],
                    "default": "pending"
                  },
                  "verificationLevel": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "enhanced",
                      "premium"
                    ],
                    "default": "basic"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customerDid": {
                      "type": "string",
                      "description": "Customer DID identifier"
                    },
                    "entityDid": {
                      "type": "string",
                      "description": "Entity DID that owns this customer"
                    },
                    "customerType": {
                      "type": "string",
                      "enum": [
                        "natural_person",
                        "legal_person"
                      ],
                      "description": "Type of customer"
                    },
                    "profileData": {
                      "type": "object",
                      "description": "Encrypted IVMS101 customer profile data (PII encrypted)"
                    },
                    "verificationStatus": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "verified",
                        "rejected",
                        "expired"
                      ],
                      "description": "Customer verification status"
                    },
                    "verificationLevel": {
                      "type": "string",
                      "enum": [
                        "basic",
                        "enhanced",
                        "premium"
                      ],
                      "description": "Level of verification performed"
                    },
                    "verifiedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When verification was completed"
                    },
                    "verificationExpiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When verification expires"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Customer creation timestamp"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Customer last update timestamp"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Customer already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/entities/{entityDID}/flow/customers/{customerDID}": {
      "get": {
        "tags": [
          "Flow"
        ],
        "summary": "Get a customer profile by DID",
        "description": "Retrieves a customer profile within a Flow workflow context. Customer PII can be\noptionally included in the response based on the includePII query parameter and\nuser permissions. PII data is decrypted on-demand when requested.\n",
        "operationId": "getFlowCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "customerDID",
            "in": "path",
            "required": true,
            "description": "Customer identifier (mailto:, tel:, or supported DID method)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includePII",
            "in": "query",
            "required": false,
            "description": "Whether to decrypt and include PII data in profileData",
            "schema": {
              "type": "string",
              "enum": [
                true,
                false
              ],
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customerDid": {
                      "type": "string",
                      "description": "Customer DID identifier"
                    },
                    "entityDid": {
                      "type": "string",
                      "description": "Entity DID that owns this customer"
                    },
                    "customerType": {
                      "type": "string",
                      "enum": [
                        "natural_person",
                        "legal_person"
                      ],
                      "description": "Type of customer"
                    },
                    "profileData": {
                      "type": "object",
                      "description": "IVMS101 customer profile data. If includePII=false (default), PII is encrypted.\nIf includePII=true, PII is decrypted and returned in plaintext.\n"
                    },
                    "verificationStatus": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "verified",
                        "rejected",
                        "expired"
                      ],
                      "description": "Customer verification status"
                    },
                    "verificationLevel": {
                      "type": "string",
                      "enum": [
                        "basic",
                        "enhanced",
                        "premium"
                      ],
                      "description": "Level of verification performed"
                    },
                    "verifiedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When verification was completed"
                    },
                    "verificationExpiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When verification expires"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Customer creation timestamp"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Customer last update timestamp"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Could not fetch customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Flow"
        ],
        "summary": "Update a customer profile within Flow workflows",
        "description": "Updates an existing customer profile within a Flow workflow context. Customer PII\nis automatically encrypted before storage when profile data is updated. Only\nspecified fields are updated, maintaining data integrity.\n\n**IVMS101 Validation Requirements (when profileData is provided):**\n- Same validation rules as POST apply when updating profileData\n- For natural persons: `name` object is **required**\n- For legal persons: `name` and `nationalIdentification` objects are **required**\n- When `nameIdentifier` array is provided, its fields are **required**\n- Unknown fields are rejected (strict validation)\n",
        "operationId": "updateFlowCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "customerDID",
            "in": "path",
            "required": true,
            "description": "Customer identifier to update (mailto:, tel:, or supported DID method)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerType": {
                    "type": "string",
                    "enum": [
                      "natural_person",
                      "legal_person"
                    ],
                    "description": "Type of customer (must match profileData if provided)"
                  },
                  "profileData": {
                    "type": "object",
                    "description": "IVMS101-compliant customer profile data (will be encrypted).\nWhen provided, must follow same structure as POST endpoint with required fields.\nSee POST /entities/{entityDID}/flow/customers for full schema.\n"
                  },
                  "verificationStatus": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "verified",
                      "rejected",
                      "expired"
                    ],
                    "description": "Customer verification status"
                  },
                  "verificationLevel": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "enhanced",
                      "premium"
                    ],
                    "description": "Level of customer verification"
                  },
                  "verifiedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When customer was verified"
                  },
                  "verificationExpiresAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When verification expires"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Customer updated successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "description": "Could not update customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Flow"
        ],
        "summary": "Delete a customer profile within Flow workflows",
        "description": "Permanently removes a customer profile from a Flow workflow context. This action\ncannot be undone and will remove all associated customer data and PII.\n",
        "operationId": "deleteFlowCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "customerDID",
            "in": "path",
            "required": true,
            "description": "Customer DID identifier to delete",
            "schema": {
              "type": "string",
              "pattern": "^did:.*"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "description": "Could not delete customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/entities/{entityDID}/flow/customers/{customerDID}/payins": {
      "post": {
        "tags": [
          "Flow"
        ],
        "summary": "Create a new payin for a customer within Flow workflows",
        "description": "Creates a new payin transaction for a customer within a Flow workflow context.\nThis endpoint initiates a payment workflow where the customer (merchant) can\nreceive payments. The payin includes invoice data, supported assets, and\ngenerates a payment link for customer interaction.\n",
        "operationId": "createFlowCustomerPayin",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "customerDID",
            "in": "path",
            "required": true,
            "description": "Customer DID identifier (this is the merchant/beneficiary in payin context)",
            "schema": {
              "type": "string",
              "pattern": "^did:.*"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ref",
                  "currency",
                  "amount",
                  "customer",
                  "fallbackSettlementAddresses"
                ],
                "properties": {
                  "ref": {
                    "type": "string",
                    "description": "Client-provided reference (e.g., invoice number)"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code for the transaction (e.g., USD, EUR)"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Transaction amount"
                  },
                  "supportedAssets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of supported assets for this transaction (CAIP-19 format, or fiat codes)"
                  },
                  "fallbackSettlementAddresses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of fallback settlement addresses (CAIP-10 or payto://) for the merchant"
                  },
                  "customer": {
                    "type": "object",
                    "description": "Customer party information (the payer/originator)",
                    "required": [
                      "@id"
                    ],
                    "properties": {
                      "@id": {
                        "type": "string",
                        "description": "Customer identifier (mailto:, tel:, or did:web/did:ethr/did:pkh/did:key/did:jwk/did:keri)"
                      },
                      "name": {
                        "type": "string",
                        "description": "Customer name"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer email address"
                      }
                    }
                  },
                  "memo": {
                    "type": "string",
                    "description": "Optional transaction memo"
                  },
                  "invoice": {
                    "type": "object",
                    "description": "Invoice details for the transaction (optional, complex invoices require customer approval)",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Invoice number"
                      },
                      "dueDate": {
                        "type": "string",
                        "format": "date",
                        "description": "Invoice due date"
                      },
                      "lineItems": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "description": "Item description"
                            },
                            "quantity": {
                              "type": "number",
                              "description": "Item quantity"
                            },
                            "unitPrice": {
                              "type": "number",
                              "description": "Unit price"
                            },
                            "lineTotal": {
                              "type": "number",
                              "description": "Total price for this line item"
                            }
                          }
                        }
                      },
                      "paymentTerms": {
                        "type": "string",
                        "description": "Payment terms"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payin created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transfer": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string",
                          "description": "Unique identifier for the transfer"
                        },
                        "@type": {
                          "type": "string",
                          "enum": [
                            "Payin"
                          ],
                          "description": "Type of transaction"
                        },
                        "ref": {
                          "type": "string",
                          "description": "Client reference"
                        },
                        "asset": {
                          "type": "string",
                          "description": "Asset identifier for the transaction"
                        },
                        "amount": {
                          "type": "string",
                          "description": "Transaction amount"
                        },
                        "status": {
                          "type": "string",
                          "description": "Current transaction status"
                        },
                        "flowState": {
                          "type": "string",
                          "description": "Current Flow workflow state"
                        },
                        "paymentLink": {
                          "type": "string",
                          "description": "Payment link for customer interaction"
                        },
                        "customerDid": {
                          "type": "string",
                          "description": "Customer DID identifier"
                        },
                        "merchantDid": {
                          "type": "string",
                          "description": "Merchant DID identifier"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Payin with this reference already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "existingRef": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Flow"
        ],
        "summary": "List payins for a specific customer within Flow workflows",
        "description": "Retrieves a paginated list of payin transactions for a specific customer within\nFlow workflows. This endpoint filters payins by the customer (merchant) and\nsupports filtering by client references and Flow workflow states.\n",
        "operationId": "listFlowCustomerPayins",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "customerDID",
            "in": "path",
            "required": true,
            "description": "Customer DID identifier (merchant in payin context)",
            "schema": {
              "type": "string",
              "pattern": "^did:.*"
            }
          },
          {
            "name": "refs",
            "in": "query",
            "required": false,
            "description": "Client references to filter by (single or array)",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "string",
              "default": "50"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip for pagination",
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Flow workflow states to filter by (single or array)",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customer payins retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "@id": {
                            "type": "string",
                            "description": "Unique identifier for the transfer"
                          },
                          "@type": {
                            "type": "string",
                            "enum": [
                              "Payin"
                            ],
                            "description": "Type of transaction"
                          },
                          "ref": {
                            "type": "string",
                            "description": "Client reference (without flow- prefix)"
                          },
                          "asset": {
                            "type": "string",
                            "description": "Asset identifier for the transaction"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Transaction amount"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current transaction status"
                          },
                          "originator": {
                            "type": "string",
                            "description": "Originator entity information"
                          },
                          "beneficiary": {
                            "type": "string",
                            "description": "Beneficiary entity information"
                          },
                          "memo": {
                            "type": "string",
                            "description": "Transaction memo or note"
                          },
                          "supportedAssets": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of supported assets for this transaction"
                          },
                          "flowState": {
                            "type": "string",
                            "description": "Current Flow workflow state"
                          },
                          "invoice": {
                            "type": "object",
                            "description": "Flow-specific invoice data"
                          },
                          "paymentLink": {
                            "type": "string",
                            "description": "Payment link for customer interaction"
                          },
                          "customerDid": {
                            "type": "string",
                            "description": "Customer DID identifier"
                          },
                          "merchantDid": {
                            "type": "string",
                            "description": "Merchant DID identifier"
                          },
                          "requiresCustomerApproval": {
                            "type": "boolean",
                            "description": "Whether customer approval is required"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Transaction creation timestamp"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "description": "Maximum number of results returned"
                        },
                        "offset": {
                          "type": "integer",
                          "description": "Number of results skipped"
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of available results"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/entities/{entityDID}/flow/customers/{customerDID}/payins/{payinId}": {
      "get": {
        "tags": [
          "Flow"
        ],
        "summary": "Get a specific payin for a customer within Flow workflows",
        "description": "Retrieves detailed information about a specific payin transaction for a customer\nwithin a Flow workflow context. This endpoint verifies that the payin belongs\nto the specified customer and returns comprehensive transaction details.\n",
        "operationId": "getFlowCustomerPayin",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "customerDID",
            "in": "path",
            "required": true,
            "description": "Customer DID identifier (merchant in payin context)",
            "schema": {
              "type": "string",
              "pattern": "^did:.*"
            }
          },
          {
            "name": "payinId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the payin transaction",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payin details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transfer": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string",
                          "description": "Unique identifier for the transfer"
                        },
                        "@type": {
                          "type": "string",
                          "enum": [
                            "Payin"
                          ],
                          "description": "Type of transaction"
                        },
                        "ref": {
                          "type": "string",
                          "description": "Client reference (without flow- prefix)"
                        },
                        "asset": {
                          "type": "string",
                          "description": "Asset identifier for the transaction"
                        },
                        "amount": {
                          "type": "string",
                          "description": "Transaction amount"
                        },
                        "status": {
                          "type": "string",
                          "description": "Current transaction status"
                        },
                        "originator": {
                          "type": "string",
                          "description": "Originator entity information"
                        },
                        "beneficiary": {
                          "type": "string",
                          "description": "Beneficiary entity information"
                        },
                        "memo": {
                          "type": "string",
                          "description": "Transaction memo or note"
                        },
                        "supportedAssets": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of supported assets for this transaction"
                        },
                        "flowState": {
                          "type": "string",
                          "description": "Current Flow workflow state"
                        },
                        "invoice": {
                          "type": "object",
                          "description": "Flow-specific invoice data"
                        },
                        "paymentLink": {
                          "type": "string",
                          "description": "Payment link for customer interaction"
                        },
                        "customerDid": {
                          "type": "string",
                          "description": "Customer DID identifier"
                        },
                        "merchantDid": {
                          "type": "string",
                          "description": "Merchant DID identifier"
                        },
                        "requiresCustomerApproval": {
                          "type": "boolean",
                          "description": "Whether customer approval is required"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Transaction creation timestamp"
                        },
                        "agents": {
                          "type": "array",
                          "description": "Associated agents for the transaction"
                        },
                        "amounts": {
                          "type": "object",
                          "description": "Detailed amount breakdown"
                        },
                        "log": {
                          "type": "array",
                          "description": "Transaction activity log"
                        },
                        "policyEvaluations": {
                          "type": "array",
                          "description": "Policy evaluation results"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or transfer is not a payin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Customer or payin not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/entities/{entityDID}/flow/customers/{customerDID}/payouts": {
      "post": {
        "tags": [
          "Flow"
        ],
        "summary": "Create a new payout for a customer within Flow workflows",
        "description": "Creates a new payout transaction for a customer within a Flow workflow context.\nThis endpoint initiates a payout workflow where the customer can receive funds\nby selecting a wallet and specifying where they want the funds sent.\n",
        "operationId": "createFlowCustomerPayout",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "customerDID",
            "in": "path",
            "required": true,
            "description": "Customer DID identifier requesting the payout",
            "schema": {
              "type": "string",
              "pattern": "^did:.*"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ref",
                  "currency",
                  "amount",
                  "merchant"
                ],
                "properties": {
                  "ref": {
                    "type": "string",
                    "description": "Client-provided reference (e.g., payout reference)"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code for the transaction"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Transaction amount"
                  },
                  "supportedAssets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional list of supported assets for this transaction (CAIP-19)"
                  },
                  "merchant": {
                    "type": "object",
                    "description": "Merchant party information",
                    "properties": {
                      "@id": {
                        "type": "string",
                        "description": "Merchant identifier (mailto:, tel:, or did:web/did:ethr/did:pkh/did:key/did:jwk/did:keri)"
                      },
                      "name": {
                        "type": "string",
                        "description": "Merchant name"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Merchant email address"
                      }
                    }
                  },
                  "memo": {
                    "type": "string",
                    "description": "Optional transaction memo"
                  },
                  "invoice": {
                    "type": "object",
                    "description": "Invoice details for the transaction",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Invoice number"
                      },
                      "dueDate": {
                        "type": "string",
                        "format": "date",
                        "description": "Invoice due date"
                      },
                      "lineItems": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "description": "Item description"
                            },
                            "quantity": {
                              "type": "number",
                              "description": "Item quantity"
                            },
                            "unitPrice": {
                              "type": "number",
                              "description": "Unit price"
                            },
                            "lineTotal": {
                              "type": "number",
                              "description": "Total price for this line item"
                            }
                          }
                        }
                      },
                      "paymentTerms": {
                        "type": "string",
                        "description": "Payment terms"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transfer": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string",
                          "description": "Unique identifier for the transfer"
                        },
                        "@type": {
                          "type": "string",
                          "enum": [
                            "Payout"
                          ],
                          "description": "Type of transaction"
                        },
                        "ref": {
                          "type": "string",
                          "description": "Client reference"
                        },
                        "asset": {
                          "type": "string",
                          "description": "Asset identifier for the transaction"
                        },
                        "amount": {
                          "type": "string",
                          "description": "Transaction amount"
                        },
                        "status": {
                          "type": "string",
                          "description": "Current transaction status"
                        },
                        "flowState": {
                          "type": "string",
                          "description": "Current Flow workflow state"
                        },
                        "paymentLink": {
                          "type": "string",
                          "description": "Payment link for customer interaction"
                        },
                        "customerDid": {
                          "type": "string",
                          "description": "Customer DID identifier"
                        },
                        "merchantDid": {
                          "type": "string",
                          "description": "Merchant DID identifier"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Payout with this reference already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "existingRef": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Flow"
        ],
        "summary": "List payouts for a specific customer within Flow workflows",
        "description": "Retrieves a paginated list of payout transactions for a specific customer within\nFlow workflows. This endpoint filters payouts by the customer and supports\nfiltering by client references and Flow workflow states.\n",
        "operationId": "listFlowCustomerPayouts",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "customerDID",
            "in": "path",
            "required": true,
            "description": "Customer DID identifier requesting the payouts",
            "schema": {
              "type": "string",
              "pattern": "^did:.*"
            }
          },
          {
            "name": "refs",
            "in": "query",
            "required": false,
            "description": "Client references to filter by (single or array)",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "string",
              "default": "50"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip for pagination",
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Flow workflow states to filter by (single or array)",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customer payouts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "@id": {
                            "type": "string",
                            "description": "Unique identifier for the transfer"
                          },
                          "@type": {
                            "type": "string",
                            "enum": [
                              "Payout"
                            ],
                            "description": "Type of transaction"
                          },
                          "ref": {
                            "type": "string",
                            "description": "Client reference (without flow- prefix)"
                          },
                          "asset": {
                            "type": "string",
                            "description": "Asset identifier for the transaction"
                          },
                          "amount": {
                            "type": "string",
                            "description": "Transaction amount"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current transaction status"
                          },
                          "originator": {
                            "type": "string",
                            "description": "Originator entity information"
                          },
                          "beneficiary": {
                            "type": "string",
                            "description": "Beneficiary entity information"
                          },
                          "memo": {
                            "type": "string",
                            "description": "Transaction memo or note"
                          },
                          "supportedAssets": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of supported assets for this transaction"
                          },
                          "flowState": {
                            "type": "string",
                            "description": "Current Flow workflow state"
                          },
                          "invoice": {
                            "type": "object",
                            "description": "Flow-specific invoice data"
                          },
                          "paymentLink": {
                            "type": "string",
                            "description": "Payment link for customer interaction"
                          },
                          "customerDid": {
                            "type": "string",
                            "description": "Customer DID identifier"
                          },
                          "merchantDid": {
                            "type": "string",
                            "description": "Merchant DID identifier"
                          },
                          "requiresCustomerApproval": {
                            "type": "boolean",
                            "description": "Whether customer approval is required"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Transaction creation timestamp"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "description": "Maximum number of results returned"
                        },
                        "offset": {
                          "type": "integer",
                          "description": "Number of results skipped"
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of available results"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/entities/{entityDID}/flow/customers/{customerDID}/payouts/{payoutId}": {
      "get": {
        "tags": [
          "Flow"
        ],
        "summary": "Get a specific payout for a customer within Flow workflows",
        "description": "Retrieves detailed information about a specific payout transaction for a customer\nwithin a Flow workflow context. This endpoint verifies that the payout belongs\nto the specified customer and returns comprehensive transaction details.\n",
        "operationId": "getFlowCustomerPayout",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "customerDID",
            "in": "path",
            "required": true,
            "description": "Customer DID identifier requesting the payout",
            "schema": {
              "type": "string",
              "pattern": "^did:.*"
            }
          },
          {
            "name": "payoutId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the payout transaction",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transfer": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string",
                          "description": "Unique identifier for the transfer"
                        },
                        "@type": {
                          "type": "string",
                          "enum": [
                            "Payout"
                          ],
                          "description": "Type of transaction"
                        },
                        "ref": {
                          "type": "string",
                          "description": "Client reference (without flow- prefix)"
                        },
                        "asset": {
                          "type": "string",
                          "description": "Asset identifier for the transaction"
                        },
                        "amount": {
                          "type": "string",
                          "description": "Transaction amount"
                        },
                        "status": {
                          "type": "string",
                          "description": "Current transaction status"
                        },
                        "originator": {
                          "type": "string",
                          "description": "Originator entity information"
                        },
                        "beneficiary": {
                          "type": "string",
                          "description": "Beneficiary entity information"
                        },
                        "memo": {
                          "type": "string",
                          "description": "Transaction memo or note"
                        },
                        "supportedAssets": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of supported assets for this transaction"
                        },
                        "flowState": {
                          "type": "string",
                          "description": "Current Flow workflow state"
                        },
                        "invoice": {
                          "type": "object",
                          "description": "Flow-specific invoice data"
                        },
                        "paymentLink": {
                          "type": "string",
                          "description": "Payment link for customer interaction"
                        },
                        "customerDid": {
                          "type": "string",
                          "description": "Customer DID identifier"
                        },
                        "merchantDid": {
                          "type": "string",
                          "description": "Merchant DID identifier"
                        },
                        "requiresCustomerApproval": {
                          "type": "boolean",
                          "description": "Whether customer approval is required"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Transaction creation timestamp"
                        },
                        "agents": {
                          "type": "array",
                          "description": "Associated agents for the transaction"
                        },
                        "amounts": {
                          "type": "object",
                          "description": "Detailed amount breakdown"
                        },
                        "log": {
                          "type": "array",
                          "description": "Transaction activity log"
                        },
                        "policyEvaluations": {
                          "type": "array",
                          "description": "Policy evaluation results"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Customer or payout not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/entities/{entityDID}/flow/{paymentId}/signal": {
      "post": {
        "tags": [
          "Flow Internal"
        ],
        "summary": "Send signal to Flow payment workflow",
        "description": "Sends customer signals to Flow payment workflows. This endpoint handles various\ncustomer actions like wallet selection, payment approval/rejection, and payment viewing.\nThe workflow ID is extracted from the payment link data and signals are sent directly\nto the appropriate Flow workflow.\n",
        "operationId": "signalFlowWorkflow",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Payment ID extracted from payment link",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "wallet_selected",
                      "payment_approved",
                      "payment_rejected",
                      "payment_viewed",
                      "fiat_settlement_indicated"
                    ],
                    "description": "The action to signal to the workflow"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "customerDid": {
                        "type": "string",
                        "description": "Customer DID identifier"
                      },
                      "walletAddress": {
                        "type": "string",
                        "description": "Selected wallet address"
                      },
                      "walletDid": {
                        "type": "string",
                        "description": "Selected wallet DID"
                      },
                      "selectedAsset": {
                        "type": "string",
                        "description": "Selected asset for payment"
                      },
                      "settlementAddress": {
                        "type": "string",
                        "description": "Settlement address for payment"
                      },
                      "rejectionReason": {
                        "type": "string",
                        "description": "Reason for payment rejection"
                      },
                      "reason": {
                        "type": "string",
                        "description": "General reason for action"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signal sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "paymentId": {
                      "type": "string"
                    },
                    "action": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or failed to process signal",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "supportedActions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Payment not found or not active",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "paymentId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/entities/{entityDID}/flow/{paymentId}/authorization": {
      "get": {
        "tags": [
          "Flow Internal"
        ],
        "summary": "Retrieve flow authorization context",
        "description": "Returns the latest authorization metadata (URL, issuer and expiry) associated with a\nFlow transfer. If the responder has not published authorization details yet the endpoint\nresponds with HTTP 204.\n",
        "operationId": "getFlowAuthorization",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Transfer (payment) identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization information available",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "authorizationUrl",
                    "from",
                    "expires"
                  ],
                  "properties": {
                    "authorizationUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL the initiator must visit to authorize the payment"
                    },
                    "from": {
                      "type": "string",
                      "description": "DID of the party requesting authorization"
                    },
                    "expires": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Expiration time for the authorization URL"
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "Authorization details not yet available"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Transfer not found for the entity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/entities/{entityDID}/flow/{paymentId}/agent": {
      "post": {
        "tags": [
          "Flow Internal"
        ],
        "summary": "Add agent to Flow payment workflow",
        "description": "Adds an agent to a Flow payment workflow. This endpoint allows adding VASP agents\nto handle specific aspects of the payment workflow, such as wallet providers or\ncompliance services.\n",
        "operationId": "addFlowAgent",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Payment ID for the workflow",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agent"
                ],
                "properties": {
                  "agent": {
                    "type": "object",
                    "required": [
                      "@id",
                      "for"
                    ],
                    "properties": {
                      "@id": {
                        "type": "string",
                        "description": "Agent DID identifier",
                        "pattern": "^did:.*"
                      },
                      "for": {
                        "type": "string",
                        "description": "Entity the agent is acting for",
                        "pattern": "^did:.*"
                      }
                    }
                  },
                  "selectedAsset": {
                    "type": "string",
                    "description": "Optional asset selected by customer from supported assets"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Agent addition request accepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Transfer not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error while adding agent to flow",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/entities/{entityDID}/flow/{paymentId}/status": {
      "get": {
        "tags": [
          "Flow Internal"
        ],
        "summary": "Get Flow payment workflow status",
        "description": "Retrieves the current status of a Flow payment workflow. This includes the\nworkflow state, asset details, amounts, and associated agents.\n",
        "operationId": "getFlowWorkflowStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Payment ID for the workflow",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flow workflow status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transfer": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string"
                        },
                        "@type": {
                          "type": "string",
                          "enum": [
                            "Payin",
                            "Payout"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "description": "Current workflow state"
                        },
                        "asset": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        },
                        "originator": {
                          "type": "string"
                        },
                        "beneficiary": {
                          "type": "string"
                        },
                        "customer": {
                          "type": "string"
                        },
                        "merchant": {
                          "type": "string"
                        },
                        "requiresCustomerApproval": {
                          "type": "boolean"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "agents": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "amounts": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Transfer not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/entities/{entityDID}/flow/{transferId}/fund": {
      "post": {
        "tags": [
          "Flow Internal"
        ],
        "summary": "Set funding address for Flow transfer",
        "description": "Allows onramps (agents in a Flow transfer) to provide funding address information.\nThe funding information is stored in the transfer (replacing any existing) and a Fund\nTAP message is broadcast to all agents in the transfer. This endpoint should be called\nafter the onramp is added as an agent to the Flow transfer.\n",
        "operationId": "setFundingAddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityDIDParam"
          },
          {
            "name": "transferId",
            "in": "path",
            "required": true,
            "description": "Transfer ID for the Flow transaction",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "currency",
                  "for"
                ],
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "Amount to fund in the specified currency",
                    "example": "100.00"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code (ISO-4217 for fiat)",
                    "example": "USD"
                  },
                  "fundingAddress": {
                    "type": "string",
                    "description": "CAIP-10 address for crypto funding",
                    "example": "eip155:1:0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
                  },
                  "fundingAccount": {
                    "type": "string",
                    "description": "PayTo URI for fiat funding (RFC 8905). Supports iban, ach, bitcoin, void types.",
                    "example": "payto://iban/DE75512108001245126199"
                  },
                  "for": {
                    "type": "string",
                    "description": "DID of the party this funding is for (customerDID or merchantDID)",
                    "example": "did:example:customer"
                  },
                  "fee": {
                    "type": "string",
                    "description": "Optional fee percentage",
                    "example": "1.5"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funding address added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "transfer": {
                      "type": "object",
                      "description": "Updated transfer object"
                    },
                    "fundingAddress": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "fundingAddress": {
                          "type": "string"
                        },
                        "fundingAccount": {
                          "type": "string"
                        },
                        "for": {
                          "type": "string"
                        },
                        "fee": {
                          "type": "string"
                        },
                        "addedBy": {
                          "type": "string"
                        },
                        "addedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or transfer is not a Flow transfer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Entity is not an agent in this transfer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
[...]
